<p>La cantidad {{ myShoppingCart.length }}</p>
<p>Total: ${{ total }}</p>
<p>
  <!-- Today:{{today|date}} -->
  Today:{{today|date:'short'}}
</p>
<p>
  <!-- Today:{{today|date}} -->
  Today:{{today|timeAgo}}
</p>
<p>Otra fecha:{{data|date:'YYYY.dd.MM'}}</p>
<!-- todo a mayus -->
<p>{{'JNHYuj hihi HUHjujUJGKKIhn HJG'|uppercase}}</p>
<div class="products--grig">
  <app-product
    [producto]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>
