<!--Circulo (Revisar codigo css)-->
<div class="circulo">
    <p> Bienvenid@ a MERKADEA</p>
</div>

<div class="formulario-registro">
    <span class = "Registro">Registro</span>
    <form class="formulario">
        <!--Input para el nombre-->
        <mat-form-field class="nombre">
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <!--Input para el correo electronico-->
        <mat-form-field class="correo-electronico">
            <input matInput placeholder="Correo electronico">
        </mat-form-field>
        <!--Input para el numero telefonico-->
        <mat-form-field class="numero-telefono">
            <input matInput placeholder="Numero telefonico">
        </mat-form-field>
        <!--Input-->
        <mat-form-field class="contraseña">
            <input type = "password" matInput placeholder="Contraseña">
        </mat-form-field>
        <button mat-stroked-button class="btn-registrar" routerLink="register/home"> Registrar </button>
    </form>
</div>