h1{
    margin-top: 2vh;
    color: #FE8C00;
    font-size: 50px;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-left: 1.5vh;
}

.map-wrapper{
    margin-left: 1.5vh;
}

span{
    margin-left: 1.5vh;
}


