<app-toolbar-consumidor></app-toolbar-consumidor>
<meta charset="UTF-8">
<h1>Hola, Usuario!</h1>
<span class = "span4">¿Qué deseas comprar hoy?</span>
<div class = "category-buttons">
    <button mat-stroked-button class = "carnes">
        &#x1F356;
        Carnes 
        </button>
    <button mat-stroked-button class = "bebidas"> 
        &#x1F37A;
        Bebidas 
    </button>
    <button mat-stroked-button class = "verduras">
        &#x1F33D;
        Verduras
    </button>
</div>
<mat-form-field appearance="fill" class = "search-bar">
    <mat-label>Buscar...</mat-label>
    <input matInput/>
    <mat-icon matPrefix>search</mat-icon>
</mat-form-field>
<div class = "on-sale">
    <h2>Tus tiendas favoritas han publicado las siguientes ofertas:</h2>    
</div>

