h1{
    margin-top: 2vh;
    color: #FE8C00;
    font-size: 50px;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-left: 1.5vh;
}

.span4{
    color: black;
    margin-left: 1.5vh;
    font-size: 25px;
}

button{
    color:black;
    width: 32%;
    font-size: 35px;
    background-color: #E1DCDC;
    margin-left: 1.5vh;
    height: 82px;
    margin-top: 1%;
}


.search-bar{
    margin-top: 1%;
    background-color: #E1DCDC;
    height: 71px;
    margin-left: 1.5vh;
    width: 99%;
    margin-right: 1.5vh;
}

h2{
    margin-left: 1.5vh;
}
