h2{
    margin-top: 2vh;
    color: #FE8C00;
    font-size: 40px;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-left: 1.5vh;
}

.col-lg-12 button {
    color:white;
    width: 10%;
    font-size: 20px;
    background-color: #FE8C00;
    margin-left: 1%;
    border-color: transparent;
}


