<h1>
    Hola, Junior!
</h1>
<span class="span2"> ¿Que haremos hoy? </span>
<div class="inventory-content-buttons">
    <h2>Esto puedes hacer en el inventario: </h2>
    <button mat-stroked-button class="add-products" routerLink='home/inventory/add-products'>
        <mat-icon>add</mat-icon>
        Registrar productos
    </button>
    <button mat-stroked-button class="check-inventary">
        <mat-icon>list</mat-icon>
        Ver productos
    </button>
    <button mat-stroked-button class="delete-products">
        <mat-icon>remove_circle_outline</mat-icon>
        Eliminar productos
    </button>
</div>
<div class="sales-content-buttons">
    <h2>Esto puedes hacer en ventas: </h2>
    <button mat-stroked-button class="add-sales">
        <mat-icon>add</mat-icon>
        Registrar ventas
    </button>
    <button mat-stroked-button class="check-sales">
        <mat-icon>list</mat-icon>
        Ver ventas
    </button>
    <button mat-stroked-button class="delete-sales">
        <mat-icon>remove_circle_outline</mat-icon>
        Eliminar ventas
    </button>
</div>
