.span2{
    color: black;
    margin-left: 1.5vh;
    font-size: 25px;
}

h1{
    margin-top: 2vh;
    color: #FE8C00;
    font-size: 50px;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-left: 1.5vh;
}

.add-products,.check-inventory,.delete-products{
    width:fit-content;
    border-radius: 5%;
    margin-left: 1.5vh;
}

h2{
    margin-top: 1vh;
    margin-left: 1.5vh;
    font-weight: 300;
}

.add-sales, .check-sales, .delete-sales{
    width:fit-content;
    border-radius: 5%;
    margin-left: 1.5vh;
}

button{
    color:white;
    width: 10%;
    font-size: 20px;
    background-color: #FE8C00;
    margin-left: 1%;
}