<!-- initial header -->
<nav id="header" class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">MERKADEA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">StarUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seguridad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">
          Iniciar sesión
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- end header -->
<footer id="footer" class="pb-4 pt-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-lg">
        <a href="#">Preguntas precuentes</a>
      </div>
      <div class="col-12 col-lg">
        <a href="#">Contactanos</a>
      </div>
      <div class="col-12 col-lg">
        <a href="#">Prensa</a>
      </div>
      <div class="col-12 col-lg">
        <a href="#">Terminos y condiciones</a>
      </div>
      <div class="col-12 col-lg">
        <a href="#">Privacidad</a>
      </div>
    </div>
  </div>
</footer>
