

<mat-card class = "login-card">
  <div class="container">
  <h2>Bienvienido a Merkade@</h2>
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <input type="submit" class="btn-enviar" value="Enviar" />
  </form>
  <p class="google-login">
    Inicia sesion con google:
    <button type="button" class="btn-glogin" (click)="onClick()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Google
    </button>
  </p>
  <p class = "no-account">
    No tienes una cuenta?
    <button type="button" class="btn-register" routerLink="/register">
    Registrate
  </button>
</p>
</div>
</mat-card>

