<mat-card class = "login-card">
    <h1> LOGIN CONSUMIDOR</h1>
    <form class="formulario">
        <!--Input para el nombre-->
        <mat-form-field class="nombre">
            <input matInput placeholder="Usuario">
        </mat-form-field>
        <!--Input para el correo electronico-->
        <mat-form-field class="contraseña">
            <input matInput type = "password" placeholder="Contraseña">
        </mat-form-field>
    </form>
    <p>¿No tienes una cuenta? <button mat-stroked-button routerLink="/register-consumidor"> Registrar </button></p>
</mat-card>
