<div class="container">
  <button type="button" class="btn btn-success" (click)="onClick()">
    onLogin
  </button>
  <br />
  <br />
  <button routerLink="/category/1" type="button" class="btn btn-danger">
    Category1
  </button>
  <button routerLink="/category/2" type="button" class="btn btn-warning">
    Category2
  </button>
  <button routerLink="/category/3" type="button" class="btn btn-info">
    Category3
  </button>
  <button routerLink="/category/4" type="button" class="btn btn-light">
    Category4
  </button>
  <button routerLink="/category/5" type="button" class="btn btn-danger">
    Category5
  </button>
  <button routerLink="/category/6" type="button" class="btn btn-warning">
    Category6
  </button>
  <button routerLink="/category/7" type="button" class="btn btn-info">
    Category7
  </button>
  <button routerLink="/category/8" type="button" class="btn btn-light">
    Category8
  </button>
</div>
