<app-nav></app-nav>
<h2> Selecciona una categoria: </h2>
<div class="container">
   <button routerLink="/category/1" type="button" class = "frutas-verduras">
    Frutas y Verduras
  </button>
  <button routerLink="/category/2" type="button" class = "pasteleria">
    Pasteleria
  </button>
  <button routerLink="/category/3" type="button" class = "carnes-pescados">
   Carnes y Pescados
  </button>
  <button routerLink="/category/4" type="button" class = "lacteos-huevos">
    Lacteos y Huevos
  </button>
  <button routerLink="/category/5" type="button" class = "bebidas">
    Bebidas
  </button>
  <button routerLink="/category/6" type="button" class = "licores">
    Licores
  </button>
  <button routerLink="/category/7" type="button" class = "cuidado-personal">
    Cuidado Personal
  </button>
  <button routerLink="/category/8" type="button" class = "despensa">
    Despensa
  </button>
</div>
