<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img id="menuu" src="../../../assets/img/lista.png" alt="menu" />
    </button>
    <a href="">
      <img id="logoo" src="../../../assets/img/logo.png" alt="logo" />
    </a>
    <a href="">
      <img
        id="carts"
        src="../../../assets/img/carrito-de-compras.png"
        alt="logo"
      />
      <span class="couter">{{ counter }}</span>
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a href="">
        <img src="../../../assets/img/logo.png" alt="logo" />
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">jhimy@upc.edu.pe</div>
      <div>
        <a href="">
          <img src="../../../assets/img/carrito-de-compras.png" alt="carrito" />
        </a>
        <span class="couter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>
