<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img id="logoo" src="../../../assets/images/logo.png" alt="logo" />
    </a>
    <div class="cart">
      <a href="">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
      </a>
      <span class="counter">{{ counter }}</span>
    </div>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a routerLink="/shop" href="">All</a></li>
      <li><a routerLink="/home" href="">Home</a></li>
      <li><a routerLink="/category/1" href="">Category 1</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a id="logo" href="">
        <img id="logoo" src="../../../assets/images/logo.png" alt="logo" />
      </a>
      <ul>
        <button routerLink="/shop" type="button" class="btn btn-danger me-4">
          Shop
        </button>
        <button routerLink="/home" type="button" class="btn btn-danger me-4">
          Home
        </button>
        <button
          routerLink="/category/1"
          type="button"
          class="btn btn-danger me-4"
        >
          Category
        </button>
      </ul>
    </nav>
    <div class="info">
      <div class="account">u201818218@upc.edu.pe</div>
      <div class="cart">
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>
