<div class="toolbar-container">
    <mat-toolbar class="toolbar-section">
        <span class="span1">MERKADEA</span>
        <span class="spacer"></span>
        <button mat-stroked-button class="home" routerLink="/home/welcome">
            <mat-icon>home</mat-icon>
            Home
        </button>
        <button mat-stroked-button class="inventory" routerLink="/home/inventory/add-products">
            <mat-icon>add</mat-icon>
            Inventory
        </button>
        <button mat-stroked-button class="sales">
            <mat-icon>trending_up</mat-icon>
            Sales
        </button>
        <button mat-stroked-button class = "sign-out" routerLink="/">
            <mat-icon>exit_to_app</mat-icon>
            Sign Out
        </button>
    </mat-toolbar>
</div>