.error{
  margin-top: 15%;
  margin-left: 35%;
 
}
p{
  font-size: xx-large;
  margin-left: 39%;
  font-weight: 800;
  margin-left: 20%;
}

@media only screen and (max-width: 900px){

  .error{
    margin-top: 50%;
 
  }
  p{
    font-size: 32px;
    line-height: 100px;
    text-align: center;
  }
}
