p,
h2 {
  margin: 0;
}

button{
  background-color: #5e9e2d;
  color: White;
  border-color: transparent;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.agregar-carrito{
  margin-left: 4px;
}

